# Intro to Data Analytics Project: Analysis of Netflix Movies and TV shows

## 1. Intordiction: Netflix

Netflix, Inc. is an American technology and media services provider and production company. The company's primary business is its subscription-based streaming service which offers online streaming of a library of films and television series, including those produced in-house. 

Since 2012, Netflix has taken more of an active role as producer and distributor for both film and television series, and to that end, it offers a variety of "Netflix Original" content through its online library. In 2013, Netflix started to create their own content.

As of April 2020, Netflix had over 193 million paid subscriptions worldwide, including 73 million in the United States. Today the company distributes content from countries all over the world.

Source(https://en.wikipedia.org/wiki/Netflix)

## 2. Data Description and objectives

It is clear that Netflix is big content-provider and content-creator, which has a large collection of TV shows and films. It has a lot of consumers around the world and in this analysis we are interested in comparing Netflix offered content.

Here is the data used for analysis:

Type–type of the show, either TV Show or Movie
+ Title–the name of the show
+ Director
+ Cast
+ Country–country where show was filmed
+ Date added
+ Rating–
+ Duration
+ Listed in–in which Netflix genre does the show appears 
+ Description

For this project, there are five goals:
1. Analyze directors and cast of the show in list and search for patterns
2. Find out is the Netflix focusing on TV shows rather that on movies and the change of tendency
3. Analyze which content is available in different countries
4. By matching similar words in description, analyze which type of content does the country produces the most 
5. Analyze when Netflix produces most content

In [3]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [7]:
#to see how many null values we have in dataset and in which columns
df.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

Since the missed values are string, we can not replace them. We dropped all the rows containing missing values

In [14]:
df_drop=df.dropna(how='any')

In [15]:
df_drop.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64